@font-face {
    font-family: "Fredoka One";
    src: url("../fonts/FredokaOne-Regular.woff2") format("woff2"),
        url("../fonts/FredokaOne-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Fredoka One";
    position: relative;
    height: 100vh;
}
h2 {
    font-size: 50px;
    padding-top: 30px;
    text-align: center;
}

.slideshow-cont {
    width: 100%;
    position: relative;
    height: max-content;

    .slideshow {
        width: max-content;
        height: max-content;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        opacity: 1;

        .slide-item {
            width: 100%;
            // max-width: 800px;
            height: 100%;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 800px;
                height: 500px;
                margin-left: auto;
                margin-right: auto;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
.arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
        width: 30px;
        height: 30px;
        cursor: pointer;

        path {
            fill: white;
        }
    }

    //in case someone add arrows as png or jpeg images
    img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        object-position: center;
        cursor: pointer;
    }

    .left-arr,
    .right-arr {
        background-color: rgba(0, 0, 0, 0.5);
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}

.lightbox-cont {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;

    .lightbox {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        transform: translateY(-50%);

        .slide-item {
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .arrows {
        top: 50%;
        max-width: 93%;
    }

    .close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 80px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        cursor: pointer;
    }
}

.fade {
    animation: fade 1.5s linear;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
